:root {
  --dark-slate-blue: #25306e;
  --robin-s-egg: #53d8ff;
  --duck-egg-blue: #cbfaee;
  --seafoam-blue: #61dbc7;
  --lavender-blue: #8e8df3;
  --bright-sky-blue: #30baff;
  --pale-lilac: #d1d1ff;
  --duck-egg-blue-two: #d9f2fb;
  --white: #f9f9f9;
  --red-pink: #f43348;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input:focus {
  outline: none;
}
